.footer_container {
  padding: 20px 0;
  width: 102%;
  height: 100%;
}

.footer_box {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer_logo img {
  width: 100px;
}

.footer_contacts {
  display: flex;
  align-items: center;
}

.contact_item {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.contact_item a {
  text-decoration: none;
  color: #333;
  margin-left: 5px;
}

.contact_item a:hover {
  color: #007bff;
}

.contact_item span {
  margin-left: 5px;
}
svg {
  font-size: 20px;
  color: #603225;
}

@media (max-width: 768px) {
  .footer_box {
    text-align: center;
    width: 80%;
  }

  .footer_logo img {
    margin-bottom: 15px;
  }

  .footer_contacts {
    align-items: center;
    justify-content: center;
  }

  .zap_icon {
    margin-top: -8px;
  }

  .contact_item {
    margin: 0;
    align-items: center;
  }

  .contact_item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .footer_box {
    text-align: center;
    width: 80%;
  }

  .footer_logo img {
    margin-bottom: 15px;
  }

  .footer_contacts {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
  }

  .zap_icon {
    margin-top: -8px;
  }

  .contact_item {
    margin: 10px;
  }

  .contact_item:last-child {
    margin-bottom: 0;
  }
}
