section {
  width: 100%;
  height: 100%;
  background: #6d4005;
  margin-top: -32px;
}

.sobre-container {
  display: flex;
  width: 86%;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  padding: 20px;
  margin-left: 10px;
}
.texto-container {
  width: 47%;
  padding: 23px;
  margin: auto;
}
.texto_h2 {
  font-family: "Grandstander", cursive;
  font-size: 39px;
  margin-bottom: 77px;
  width: 100%;
  color: white;
  text-shadow: 2px 2px 2px rgba(73, 72, 72, 0.652);
}

.texto-container p {
  font-family: "Grandstander", cursive;
  font-size: 16px;
  width: 100%;
  line-height: 1.8;
  margin-top: -19px;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(73, 72, 72, 0.652);
  font-weight: bold;
}

.imagem-container img {
  width: 380px;
  margin-top: 26px;
}

/* ------------------- */

@media (max-width: 1200px) {
  .texto_h2 {
    font-size: 30px;
    margin-bottom: 48px;
  }

  .texto-container p {
    font-size: 14px;
  }
}
@media (max-width: 950px) {
  .imagem-container img {
    margin-top: 16px;
  }
  .texto_h2 {
    font-size: 25px;
    margin-bottom: 48px;
  }
}

@media (max-width: 900px) {
  .sobre-container {
    margin: 0;
    margin-left: 4px;
    display: flex;
    width: 90%;
    flex-direction: column;
  }
  .texto-container {
    width: 100%;
    padding: 0;
  }
  .texto_h2 {
    margin-top: 62px;
  }
  .imagem-container img {
    width: 90%;
    margin: 16px 14px 13px 14px;
  }
  .texto_h2 {
    font-size: 25px;
    margin-bottom: 48px;
  }
  .imagem-container {
    margin-bottom: 27px;
    margin-top: 13px;
  }
}

/*

@media (max-width: 1205px) {
  .imagem-container img {
    margin-right: 40px;
  }
}
@media (max-width: 1120px) {
  .texto-container {
    margin-left: 36px;
  }
  .texto_h2 {
    font-size: 36px;
    margin-left: 11px;
  }
  .texto-container p {
    margin-top: -37px;
    padding-left: 12px;
  }
  .imagem-container img {
    width: 356px;
    margin-left: -35px;
    margin-top: -5px;
  }
}
@media (max-width: 880px) {
  .texto-container {
    margin-top: 23px;
  }
  .texto-container {
    margin-left: 22px;
  }
  .texto_h2 {
    font-size: 29px;
    margin-right: 20px;
    margin-bottom: 95px;
    margin-left: 13px;
  }
  .texto-container p {
    margin-top: -65px;
    font-size: 13px;
    width: 414px;
    margin-right: 20px;
    padding-right: 40px;
  }
  .imagem-container img {
    width: 274px;
    margin-left: -159px;
    margin-top: 24px;
  }
}
@media (max-width: 650px) {
  .sobre-container {
    display: flex;
    flex-direction: column;
  }

  .texto-container {
    margin-left: 97px;
  }
  .texto_h2 {
    width: 391px;
  }
  .texto-container p {
    width: 486px;
  }
  .imagem-container img {
    width: 308px;
    margin-left: 63px;
    margin-top: 23px;
  }
}
@media (max-width: 550px) {
  .texto_h2 {
    width: 391px;
    margin-left: -35px;
  }
  .texto-container p {
    width: 446px;
    padding: 5px;
    margin: 0;
    margin-left: -42px;
    margin-top: -60px;
  }
  .imagem-container img {
    margin-bottom: 35px;
  }
}
@media (max-width: 390px) {
  section {
    margin-top: -35px;
    width: 100%;
  }
  .sobre-container {
    display: flex;
    flex-direction: column;
  }

  .texto-container {
    margin-left: 7px;
    width: 100%;
  }
  .texto_h2 {
    width: 100%;
    font-size: 26px;
    margin-left: 11px;
    margin-top: -4px;
    margin-right: 0;
    margin-bottom: 83px;
  }
  .texto-container p {
    width: 345px;
    padding: 5px;
    margin: 0;
    margin-left: 5px;
    margin-top: -60px;
  }
  .imagem-container img {
    width: 308px;
    margin-left: 63px;
    margin-top: 23px;
    margin-bottom: 35px;
  }
}
 */
