section {
  width: 100%;
  height: 100%;
  background: #603225;
  margin-top: -32px;
}

.sobre-container {
  display: flex;
  width: 86%;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  padding: 20px;
  margin-left: 10px;
}
.texto-container {
  width: 47%;
  padding: 23px;
  margin: auto;
}
.texto_h2 {
  font-family: "Grandstander", cursive;
  font-size: 39px;
  margin-bottom: 77px;
  width: 100%;
  color: white;
  text-shadow: 2px 2px 2px rgba(73, 72, 72, 0.652);
}

.texto-container p {
  font-family: "Grandstander", cursive;
  font-size: 16px;
  width: 100%;
  line-height: 1.8;
  margin-top: -19px;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(73, 72, 72, 0.652);
  font-weight: bold;
}

.imagem-container img {
  width: 338px;
  margin-top: -20px;
  border-radius: 8px;
}

/* ------------------- */

@media (max-width: 1200px) {
  .texto_h2 {
    font-size: 30px;
    margin-bottom: 48px;
  }

  .texto-container p {
    font-size: 14px;
  }
}
@media (max-width: 950px) {
  .imagem-container img {
    margin-top: 16px;
    width: 347px;
    margin-top: -7px;
  }
  .texto_h2 {
    font-size: 25px;
    margin-bottom: 48px;
  }
}

@media (max-width: 900px) {
  .sobre-container {
    margin: 0;
    margin-left: 4px;
    display: flex;
    width: 90%;
    flex-direction: column;
  }
  .texto-container {
    width: 100%;
    padding: 0;
  }
  .texto_h2 {
    margin-top: 62px;
  }

  .imagem-container {
    text-align: center;
  }

  .imagem-container img {
    width: 50%;
    margin: 16px 14px 13px 14px;
  }
  .texto_h2 {
    font-size: 25px;
    margin-bottom: 48px;
  }
  .imagem-container {
    margin-bottom: 27px;
    margin-top: 13px;
  }
}

@media (max-width: 400px) {
  .imagem-container img {
    width: 90%;
    margin: 16px 14px 13px 14px;
  }
}
