.container {
  min-height: 60vh;
  margin-bottom: 5em;
}

/* .slideshow-container {
  width: 100vw;
  position: fixed;
  top: 481px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
 */
